.consonant p {
    margin-top: 0;
    margin-bottom: 0;
}
.main-consonants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 30px;
}

.consonants-boxes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.consonant {
    background-color: #E5DDC5;
    border: solid black 1px;
    border-radius: 5px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-popup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}
  
  
  .garden-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid 1px; */
    padding: 2px;
  }
  
  .popup-img {
    width: 200px;
  }
  
  .garden-care {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid 1px; */
    padding: 2px;
    width: 300px;
    height: 250px;
  }
  
  .garden-care-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: solid 1px; */
    padding: 5px;
    width: 90%;
  }
  
  .garden-care-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid 1px; */
    border-radius: 10px;
    background-color: #f1eedc;
    padding: 5px;
    height: 300px;
    width: 95%;
  }
  
  