.main-flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}
.card {
  width: 600px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
  margin: 20px;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ccc; */
  border-radius: 20px;
  background-color: #BFD8AF;
  transition: transform 0.6s;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  color: black;
  background-color: #ffc470;
}

.card.flipped .card-front {
  transform: rotateY(-180deg);
}

.card.flipped .card-back {
  transform: rotateY(0deg);
}
