h2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.main-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
}
.main-topics {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* border: 1px solid black; */
  margin: 60px;
  padding: 5px;
  width: auto;
}

.culture-main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* border: 1px solid black; */
  
  padding-top: 60px;
  padding-left: 40px;
  width: 250px;
}

.main-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  border: 2px solid black;
  border-radius: 50px;
  padding: 20px;
  margin: 10px;
  background: #8cb9bd;
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.small-section {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 20px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: stretch;
  gap: 20px;
}
.img {
  width: 200px;
  height: auto;
}

.small-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: auto;
}
/* CSS */
.button-7 {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #344955;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.15385;
  margin: 0;
  outline: none;

  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: #ff407d;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}

.profile-container img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
