.main-unit {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 50px;
  max-width: 300px;
  margin: auto;
}

.inside-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  background-color: #ff6500;
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* width: 50px; */
}
