.main-lesson {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  gap: 20px;
}

.small-unit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  padding-left: 50px;
  border-radius: 15px;
  background-color: #9ac8cd;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  max-width: 90%;
  width: 700px;
}

.logo {
  text-decoration: none;
  color: #090909;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16pt;
}

.small-unit img {
  width: 150px;
}
