.phrases-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
}

.phrases-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 20px; */
}

.main-item {
  font-size: 2em;
  display: flex;
  flex-direction: column;

  align-items: center;
  /* border: 1px solid black; */
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 60px;
  gap: 20px;
}

.each-phrase {
  display: flex;
  flex-direction: row;
  gap: 50px;

  /* border: 1px solid black; */
  border-radius: 20px;
  background-color: #dddddd;
  padding: 20px;
  /* margin: 20px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.phrase-item {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* margin: 20px; */
}

.phrase-numbers {
  /* border: 2px solid black; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #77b0aa;
  width: auto;
  height: 50px;
}

.button-container {
  padding-top: 20px;
}
