.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 80px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  margin: 10px;
  padding: 5px;
  width: auto;
}
.progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  margin: 10px;
  padding: 5px;
  width: auto;
}
.unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  padding: 2px;
  margin: 2px;
  width: auto;
}

.insider-unit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  padding: 10px;
  margin: 10px;
  width: auto;
}

.small-insider-unit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  padding: 10px;
  margin: 10px;
  width: auto;
}

.fish {
  width: 200px;
  margin: 10px;
}

.title {
  width: 100%;
}

.each-unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
