.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #235390;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-container {
  height: 70px;
  width: 100px;
  /* padding: 25px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.logo-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.navigation .nav-links-container {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation .nav-links-container .nav-link {
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  color: #fefbf6;
  font-weight: bold;
}

.navigation .nav-links-container .nav-link:hover {
  color: #0275d8;
}
